.wonders {
  min-height: 99svh;
  * {
    font-family: sans-serif;
  }
  .title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  .wonderCol {
    margin: 20px auto;
    .card {
      margin: 0 auto !important;
    }
  }
  .btnCol {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .controlCol {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    .btn {
      line-height: 0.9em !important;
      height: 20px !important;
      min-width: 50px !important;
      font-size: 12.5px;
      text-align: center;
      // font-weight: bolder;
      background-color: transparent;
      color: #383838;
      &:not(.active):hover {
        background-color: #e6f5ffd8;
      }
      &.active {
        background-color: #b3b3b3 !important;
        color: #fff;
      }
    }
  }
}

.containerMain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  align-items: center;
  display: flex;
  flex-direction: column !important;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.btnDiv {
  border: 0px solid rgb(146, 146, 146) !important;
  backdrop-filter: blur(1px);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  &:hover {
    backdrop-filter: blur(5px);
  }
  .btnWonders {
    background-color: transparent;
    font-size: 10px;
    padding: 0;
    margin: 0 5px;
    border: none;
    color: black;
    transform: scale(0.5);
    transition: all 0.9s ease;
    .btnDetails {
      visibility: hidden;
    }
    &:hover ~ .activeWonder,
    &.activeWonder:has(~ .btnWonders:hover) {
      transform: scale(0.8);
    }
    &:hover,
    &.activeWonder {
      transform: scale(0.9);
      box-shadow: 0 -10px 10px #00000088;
      .btnDetails {
        visibility: visible;
        font-weight: bold;
      }
    }
  }
}
