.col,
.border,
.bg-light {
  border: none !important;
  background: none !important;
  opacity: 1;
}

.wonders {
  //   .btn-group {
  //     position: absolute !important;
  //     right: 0;
  //   }

  .title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  #sw,
  #en {
    height: 20px !important;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    line-height: 1em;
  }
  .wonderCol {
    .card {
      margin: 0 auto !important;
    }
  }
  .btnCol {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.containerMain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  align-items: center;
  display: flex;
  flex-direction: column !important;
  //   justify-content: center;
  margin: 0 auto;
  //   margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.btnDiv {
  //   display: flex;
  //   align-items: center;
  border: 2px solid rgb(146, 146, 146) !important;
  backdrop-filter: blur(1px);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.507);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  // margin: auto;
  &:hover {
    backdrop-filter: blur(5px);
  }
  .btnWonders {
    background-color: transparent;
    font-size: 10px;
    padding: 0;
    margin: 0 5px;
    border: none;
    color: black;
    //   min-width: 100px;
    // transform: translate(-50%);
    transform: scale(0.5);
    transition: all 0.9s ease;
    .btnDetails {
      visibility: hidden;
    }
    // &:has(+ .btnWonders:hover),
    // &:has(+ .activeWonder),
    // &:hover + .btnWonders,
    // &.activeWonder + .btnWonders {
    //   //   background: green;
    //   transform: scale(0.6);
    //   transition: all 2s ease;
    // }
    &:hover ~ .activeWonder,
    &.activeWonder:has(~ .btnWonders:hover) {
      transform: scale(0.8);
    }
    &:hover,
    &.activeWonder {
      transform: scale(0.9);
      box-shadow: 0 -10px 10px #00000088;
      .btnDetails {
        visibility: visible;
        font-weight: bold;
      }
    }
  }
}
